[submodule "themes/creative-portfolio"]
	path = themes/creative-portfolio
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
